.signUpWrapper {
  width: 100vw;
}

.signUpImage {
  height: 100vh;
  width: 50vw;
}



.signUpRightSide {
  width: 50vw;
}

.signUpTitle {
  justify-content: center;
}

.signUpSubTitle {
  justify-content: center;
}


.signUpFormWrapper {
  width: 50vw;
  text-align: -webkit-center;
}
