.buttonOverlay {border-radius: 1.25rem;}

.card {
  text-align: center;
  font-size: 1.25rem;
  height: 25rem;
  color: white;
}

.cardImage {
  width: 7rem;
}

.cardAmount {
  text-align: center;
  font-size: 100rem;
}

.cardInput {
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
}

::placeholder {
  color: white;
}

.text-muted {
  color: #e9f2fb!important;
}